/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../scss/screen.scss */
#banner {
  background-color: #ffb800;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFB800', endColorstr='#FFFF8800');
  background-image: -moz-linear-gradient(top, #ffb800 0%, #ffb800 50%, #ff8800 50%, #ff8800 100%);
  background-image: -webkit-linear-gradient(top, #ffb800 0%, #ffb800 50%, #ff8800 50%, #ff8800 100%);
  background-image: linear-gradient(to bottom, #ffb800 0%, #ffb800 50%, #ff8800 50%, #ff8800 100%);
  position: relative;
  padding: 3.75rem 0; }
  /* line 16, ../scss/screen.scss */
  #banner h2 {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold; }
  /* line 23, ../scss/screen.scss */
  #banner .amp {
    position: absolute;
    top: -50px;
    left: 25%;
    width: 50%;
    z-index: 1; }
    /* line 29, ../scss/screen.scss */
    #banner .amp h2 {
      font-size: 33.75rem;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
      opacity: 0.2;
      line-height: 33.75rem; }

/* line 36, ../scss/screen.scss */
.main section {
  padding: 1.875rem 0; }
  /* line 38, ../scss/screen.scss */
  .main section h3 {
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: uppercase; }
  /* line 44, ../scss/screen.scss */
  .main section#fyi div.column {
    padding-top: 1.25rem;
    text-align: left; }
    /* line 47, ../scss/screen.scss */
    .main section#fyi div.column img {
      float: left;
      width: 105px;
      height: auto; }
    /* line 52, ../scss/screen.scss */
    .main section#fyi div.column h4 {
      font-size: 1.5rem;
      line-height: 1.5;
      margin-top: 0; }
    /* line 57, ../scss/screen.scss */
    .main section#fyi div.column p {
      text-align: left;
      margin-top: 0.625rem;
      margin-left: 1rem;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 1.8; }
    /* line 65, ../scss/screen.scss */
    .main section#fyi div.column .txt {
      float: left;
      width: 70%; }

@media only screen and (min-width: 40.063em) {
  /* line 73, ../scss/screen.scss */
  #banner {
    background-color: #ffb800;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFFFB800', endColorstr='#FFFF8800');
    background-image: -moz-linear-gradient(left, #ffb800 0%, #ffb800 50%, #ff8800 50%, #ff8800 100%);
    background-image: -webkit-linear-gradient(left, #ffb800 0%, #ffb800 50%, #ff8800 50%, #ff8800 100%);
    background-image: linear-gradient(to right, #ffb800 0%, #ffb800 50%, #ff8800 50%, #ff8800 100%);
    position: relative;
    padding: 9.375rem 0; }
    /* line 81, ../scss/screen.scss */
    #banner h2 {
      font-family: 'Quattrocento Sans', sans-serif;
      font-size: 3rem;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold; }
    /* line 89, ../scss/screen.scss */
    #banner .amp {
      position: absolute;
      top: -50px;
      left: 25%;
      width: 50%;
      z-index: 1; }
      /* line 95, ../scss/screen.scss */
      #banner .amp h2 {
        font-size: 33.75rem;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
        opacity: 0.2;
        line-height: 33.75rem; }

  /* line 102, ../scss/screen.scss */
  .main section {
    padding: 3.75rem 0; }
    /* line 104, ../scss/screen.scss */
    .main section h3 {
      font-size: 2.25rem;
      font-weight: normal;
      text-transform: uppercase;
      margin-top: 0; }
    /* line 111, ../scss/screen.scss */
    .main section#fyi div.column {
      padding-top: 2.5rem;
      text-align: center; }
      /* line 114, ../scss/screen.scss */
      .main section#fyi div.column img {
        float: none;
        width: auto;
        height: auto; }
      /* line 119, ../scss/screen.scss */
      .main section#fyi div.column h4 {
        font-size: 1.5rem;
        line-height: 1.5;
        margin-top: 2.125rem; }
      /* line 124, ../scss/screen.scss */
      .main section#fyi div.column p {
        text-align: left;
        margin: 1.25rem 1rem; }
      /* line 128, ../scss/screen.scss */
      .main section#fyi div.column .txt {
        float: none;
        width: auto; } }
/* FOUNDATION OVERRIDES */
/* line 137, ../scss/screen.scss */
[data-magellan-expedition], [data-magellan-expedition-clone] {
  padding: 0; }

/* line 140, ../scss/screen.scss */
.top-bar {
  z-index: 100;
  height: 60px; }
  /* line 144, ../scss/screen.scss */
  .top-bar .social li {
    float: left; }
    /* line 146, ../scss/screen.scss */
    .top-bar .social li a {
      padding: 10px; }
  /* line 151, ../scss/screen.scss */
  .top-bar .name {
    height: 60px; }
    /* line 153, ../scss/screen.scss */
    .top-bar .name h1 {
      padding: 9px 0; }
      /* line 155, ../scss/screen.scss */
      .top-bar .name h1 a {
        background: url(../img/zk-logo.png) 0 0 no-repeat;
        background-size: contain;
        width: 202px;
        height: 42px;
        text-indent: 100%;
        overflow: hidden;
        white-space: nowrap; }

@media only screen and (min-width: 40.063em) {
  /* line 168, ../scss/screen.scss */
  .top-bar {
    height: 70px; }
    /* line 170, ../scss/screen.scss */
    .top-bar .left {
      margin-left: 20px; }
    /* line 173, ../scss/screen.scss */
    .top-bar .name {
      height: 70px; }
      /* line 175, ../scss/screen.scss */
      .top-bar .name h1 {
        padding: 9px 0; }
        /* line 177, ../scss/screen.scss */
        .top-bar .name h1 a {
          background: url(../img/zk-logo.png) 0 0 no-repeat;
          background-size: contain;
          width: 202px;
          height: 52px;
          text-indent: 100%;
          overflow: hidden;
          white-space: nowrap; }

  /* line 189, ../scss/screen.scss */
  .top-bar-section ul.left li > a {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase; }

  /* line 194, ../scss/screen.scss */
  .top-bar-section li:not(.has-form) a:not(.button),
  .top-bar-section li.active:not(.has-form) a:not(.button) {
    line-height: 70px; }
    /* line 197, ../scss/screen.scss */
    .top-bar-section li:not(.has-form) a:not(.button):hover,
    .top-bar-section li.active:not(.has-form) a:not(.button):hover {
      background: #086fa1; }

  /* line 201, ../scss/screen.scss */
  .top-bar-section li.active:not(.has-form) a:not(.button) {
    background: #086fa1; }

  /* line 204, ../scss/screen.scss */
  .top-bar-section .social li:not(.has-form) a:not(.button) {
    padding: 0 10px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4; }
    /* line 207, ../scss/screen.scss */
    .top-bar-section .social li:not(.has-form) a:not(.button):hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
      opacity: 1;
      background: transparent; } }
