@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700|Quattrocento+Sans:400,700);
/* line 5, ../scss/screen.scss */
h1, h2, h3, h4 {
  font-family: 'Oswald', 'Helvetica', sans-serif; }

/* line 6, ../scss/screen.scss */
#banner {
  background: url(../img/bulbs.jpg) center top no-repeat;
  background-position: cover;
  position: relative;
  padding: 3.75rem 0; }
  /* line 15, ../scss/screen.scss */
  #banner h2 {
    font-size: 2.25rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold; }
  /* line 22, ../scss/screen.scss */
  #banner .amp {
    position: absolute;
    top: -50px;
    left: 25%;
    width: 50%;
    z-index: 1; }
    /* line 28, ../scss/screen.scss */
    #banner .amp h2 {
      font-size: 16.875rem;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
      opacity: 0.4; }

/* line 35, ../scss/screen.scss */
.main section {
  padding: 1.875rem 0;
  position: relative;
  height: 100vh; }
  /* line 39, ../scss/screen.scss */
  .main section .row {
    margin: 0 auto;
    width: 90%;
    float: none;
    max-width: none; }
  /* line 45, ../scss/screen.scss */
  .main section h3 {
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 4rem; }
  /* line 52, ../scss/screen.scss */
  .main section#fyi div.column {
    text-align: left; }
    /* line 54, ../scss/screen.scss */
    .main section#fyi div.column img {
      float: left;
      width: 35px;
      height: auto;
      margin: 4px 4px 0 4px; }
    /* line 60, ../scss/screen.scss */
    .main section#fyi div.column h4 {
      font-size: 1.5rem;
      line-height: 1.5;
      margin-top: 0; }
    /* line 65, ../scss/screen.scss */
    .main section#fyi div.column p {
      text-align: left;
      margin-top: 0.625rem;
      margin-left: 1rem;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      line-height: 1.8; }
    /* line 73, ../scss/screen.scss */
    .main section#fyi div.column .txt {
      float: none;
      width: auto; }
  /* line 79, ../scss/screen.scss */
  .main section#oooShiny {
    background: #63add0; }
    /* line 82, ../scss/screen.scss */
    .main section#oooShiny .work li a {
      display: block;
      position: relative; }
      /* line 85, ../scss/screen.scss */
      .main section#oooShiny .work li a img {
        width: 100%;
        height: auto; }
      /* line 89, ../scss/screen.scss */
      .main section#oooShiny .work li a div {
        display: none;
        padding: 0.625rem;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%; }
        /* line 98, ../scss/screen.scss */
        .main section#oooShiny .work li a div p {
          font-size: 0.6875rem; }
        /* line 101, ../scss/screen.scss */
        .main section#oooShiny .work li a div h4 {
          font-size: 0.75rem;
          color: #fff;
          text-transform: uppercase; }

@media only screen and (min-width: 40.063em) {
  /* line 113, ../scss/screen.scss */
  #banner {
    background: url(../img/bulbs.jpg) center top no-repeat;
    background-size: cover;
    position: relative;
    padding: 15% 0; }
    /* line 122, ../scss/screen.scss */
    #banner h2 {
      font-family: 'Quattrocento Sans', sans-serif;
      font-size: 3.75rem;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.8); }
    /* line 131, ../scss/screen.scss */
    #banner .amp {
      position: absolute;
      top: 125px;
      left: 25%;
      width: 50%;
      z-index: 1; }
      /* line 137, ../scss/screen.scss */
      #banner .amp h2 {
        font-size: 33.75rem;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
        opacity: 0.4;
        line-height: 1; }

  /* line 145, ../scss/screen.scss */
  .main section h3 {
    font-size: 2.25rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 0; }
  /* line 152, ../scss/screen.scss */
  .main section#fyi div.column {
    text-align: center; }
    /* line 154, ../scss/screen.scss */
    .main section#fyi div.column img {
      float: none;
      width: auto;
      height: auto; }
    /* line 159, ../scss/screen.scss */
    .main section#fyi div.column h4 {
      font-size: 1.5rem;
      line-height: 1.5;
      margin-top: 2.125rem; }
    /* line 164, ../scss/screen.scss */
    .main section#fyi div.column p {
      text-align: left;
      margin: 1.25rem 1rem; }
    /* line 168, ../scss/screen.scss */
    .main section#fyi div.column .txt {
      float: none;
      width: auto; } }
/* FOUNDATION OVERRIDES */
/* line 177, ../scss/screen.scss */
[data-magellan-expedition], [data-magellan-expedition-clone] {
  padding: 0; }

/* line 180, ../scss/screen.scss */
.top-bar {
  z-index: 100;
  height: 60px; }
  /* line 184, ../scss/screen.scss */
  .top-bar .social li {
    float: left; }
    /* line 186, ../scss/screen.scss */
    .top-bar .social li a {
      padding: 10px; }
  /* line 191, ../scss/screen.scss */
  .top-bar .name {
    height: 60px; }
    /* line 193, ../scss/screen.scss */
    .top-bar .name h1 {
      padding: 9px 0; }
      /* line 195, ../scss/screen.scss */
      .top-bar .name h1 a {
        background: url(../img/zk-logo.png) 0 0 no-repeat;
        background-size: contain;
        width: 202px;
        height: 42px;
        text-indent: 100%;
        overflow: hidden;
        white-space: nowrap; }

@media only screen and (min-width: 40.063em) {
  /* line 208, ../scss/screen.scss */
  .top-bar {
    height: 70px; }
    /* line 210, ../scss/screen.scss */
    .top-bar .left {
      margin-left: 20px; }
    /* line 213, ../scss/screen.scss */
    .top-bar .name {
      height: 70px; }
      /* line 215, ../scss/screen.scss */
      .top-bar .name h1 {
        padding: 9px 0; }
        /* line 217, ../scss/screen.scss */
        .top-bar .name h1 a {
          background: url(../img/zk-logo.png) 0 0 no-repeat;
          background-size: contain;
          width: 202px;
          height: 52px;
          text-indent: 100%;
          overflow: hidden;
          white-space: nowrap; }

  /* line 229, ../scss/screen.scss */
  .top-bar-section ul.left li > a {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase; }

  /* line 234, ../scss/screen.scss */
  .top-bar-section li:not(.has-form) a:not(.button),
  .top-bar-section li.active:not(.has-form) a:not(.button) {
    line-height: 70px; }
    /* line 237, ../scss/screen.scss */
    .top-bar-section li:not(.has-form) a:not(.button):hover,
    .top-bar-section li.active:not(.has-form) a:not(.button):hover {
      background: #086fa1; }

  /* line 241, ../scss/screen.scss */
  .top-bar-section li.active:not(.has-form) a:not(.button) {
    background: #086fa1; }

  /* line 244, ../scss/screen.scss */
  .top-bar-section .social li:not(.has-form) a:not(.button) {
    padding: 0 10px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4; }
    /* line 247, ../scss/screen.scss */
    .top-bar-section .social li:not(.has-form) a:not(.button):hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
      opacity: 1;
      background: transparent; } }
